{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/home.css') }}">

    <div class="container">
        <div class=" row d-flex justify-content-around">
            <div class="col-7">
                <h3 class="  mt-5">Live Streaming</h3>
                <div id="camera"></div>
                <br>
            </div>
            <div class="col-3" >
                  <h3 class="  mt-5">Spotify Music Player</h3>
                  <iframe src="https://open.spotify.com/embed/playlist/5MPIVMVxSdXXXiwBQM6a45" id="spotify" width="400" height="423" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
        <div class="row justify-content-md-center mt-4 " >
            <div id="buttons">
                <button class="col-lg-2 btn btn-success" onclick="take_snapshot()" >Capture</button>
                <button class="col-lg-2 btn btn-success" onclick="retake()" >Retake</button>
                <label class="col-lg-2 btn btn-success"><input type="file" id="myFileInput" hidden>Upload</label>

            </div>
        </div>

        <div>
            <h3 class="row justify-content-md-center mt-5" id="Mood" >Person is Happy</h3>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.js"></script>
    <script type="text/javascript" src= "{{ url_for('static',filename='javascript/home.js') }}">></script>
{% endblock content %}



